* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1e1e1e;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container {
    display: grid;
    max-width: 1100px;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar {
    border: 1px solid #3a3a3a;
    border-radius: 15px;
    height: 91vh;
    background-color: #2a2a2a;
    padding: 15px;
    position: sticky;
    top: 40px;
}

.main-content {
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 15px;
    padding: 25px;
}

/* profile section */

.profile {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    height: 80px;
    width: 86px;
}

.profile h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e0e0e0;
    margin-top: 10px;
    text-transform: capitalize;
}

.profile span {
    text-transform: capitalize;
    background-color: #1e1e1e;
    color: #ffbf00;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 0.9rem;
    margin-top: 10px;
}

/* contact info */

.contact {
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #a0a0a0;
    margin-bottom: 0;
}

.value {
    text-decoration: none;
    color: #a0a0a0;
}

.email,
.phone {
    margin-bottom: 15px;
}

/* soical media */

.social {
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 15px;
    text-align: center;
}

.social img {
    height: 20px;
    width: 20px;
    margin-left: 9px;
    filter: grayscale(1) invert(0.7);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    -webkit-filter: grayscale(1) invert(0.7);
}

.social img:hover {
    filter: grayscale(0) invert(0);
    -webkit-filter: grayscale(0) invert(0);
}

/* Cv btn */

.cvbtn {
    text-align: center;
    margin-top: 15px;
}

.cvbtn a {
    color: #1e1e1e;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ffbf00;
}


/* main content*/
/* navigation */

.navigation {
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 25px;
    position: relative;
}

/* Mode btn */

.modebtn {
    padding: 5px;
    position: absolute;
    width: 22%;
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: #a0a0a0;
    text-transform: capitalize;
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease;


}

nav a:hover {
    color: #ffbf00;
}

nav a:hover .nav-line {
    width: 100%;
}

.nav-line {
    width: 0%;
    height: 3px;
    margin-top: 2px;
    border-radius: 3px;
    background-color: #ffbf00;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}


.first-child {
    color: #ffbf00;
}

/* about me */

.heading {
    color: #e0e0e0;
    font-size: 1.9rem;
    margin-bottom: 15px;
}

.line {
    width: 60px;
    height: 6px;
    background-color: #ffbf00;
    margin-bottom: 17px;
    border-radius: 5px;
}

.about .summary {
    text-align: justify;
    margin-bottom: 30px;
}

/* skill seciton */


.skill {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 35px;
}


.item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    text-align: center;
    margin-top: 20px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}


.item:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.item img {
    width: 45px;
    height: 45px;
    filter: brightness(0) saturate(100%) invert(78%) sepia(41%) saturate(3575%) hue-rotate(358deg) brightness(105%) contrast(109%);
    margin-bottom: 10px;
}

.item h3 {
    font-size: 1rem;
    font-weight: 500;
}

/* Education */


.editech {
    position: relative;
}


.year {
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 6px;
}

.institue {
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work {
    color: #a0a0a0;
}

.edufirst,
.edusec {
    /* background-color: red; */
    margin-bottom: 30px;
    position: relative;
    padding-left: 23px;
}

.bulet-point {
    height: 11px;
    width: 11px;
    border: 2.5px solid #ffbf00;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0px;
    z-index: 5;
}

/* line for education bullet pionts */

.liner {
    width: 2px;
    border: 2px solid #3a3a3a;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 3.5px;
}

/* project section */

.project_conatiner {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.project {
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    overflow: hidden;
    background-color: #1e1e1e;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}


.project:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.card {
    padding: 20px;
}

.project img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card h3 {
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p {
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 10px;
}

.card span {
    color: #ffbf00;
    font-size: 0.75rem;
    padding: 7px;
    border-radius: 3px;
    margin-right: 5px;
    background-color: rgba(255, 191, 0, 0.1);
    margin-bottom: 8px;
    display: inline-block;
}

/* responsiveness */


@media screen and (max-width:1200px) {
    .main-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar {
        position: static;
        height: auto;
    }
}


@media screen and (max-width:611px) {
    .project_container {
        grid-template-columns: 1fr;
    }

    .navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}


@media screen and (max-width: 610px) {
    .main-container {
        grid-template-columns: 1fr;
        gap: 30px;
        padding-top: 30px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: static;
        padding: 14px;
    }

    .profile img {
        height: 65px;
        width: 65px;
    }

    .profile h2 {
        font-size: 1.3rem;
        margin-top: 0px;
    }

    .profile span {
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 0.6rem;
        margin-top: 5px;
    }

    .contact {
        margin-top: -20px;
        padding-top: 15px;
    }

    .label {
        font-size: 1rem;
    }

    .value {
        font-size: 0.8rem;
    }

    .email,
    .phone {
        margin-bottom: 8px;
    }

    .social {
        margin-top: -20px;
        padding-top: 18px;
    }

    .social img {
        height: 18px;
        width: 18px;
        margin-left: 10px;
    }

    .cvbtn {
        margin-top: -30px;
    }

    .cvbtn a {
        font-size: 0.7rem;
        padding: 6px;
        border-radius: 3px;
    }

    .navigation {
        border: 0px;
        margin-bottom: 15px;
        padding-bottom: 0px;
        position: relative;
    }

    nav {
        display: none;
    }

    .modebtn {
        padding: 5px;
        position: relative;
        gap: 20px;
    }

    .option {
        font-size: 13px;
        padding: 1px;
        display: flex;
        gap: 5px;
    }

    .project_conatiner {
        margin-top: 15px;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .project:hover {
        transform: translateY(-5px);
    }

    .item:hover {
        transform: scale(1.05);
    }

    .item {
        padding: 15px;
        margin-top: 15px;
    }
}